/* full page styling */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
}
/* navbar styling */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777;
  padding: 1rem;
}

.nav-logo {
  height: 10rem;
}

.nav-menu {
  display: none;
}

ul {
  width: 100%;
  margin-right: 4rem;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

li:not(:last-child) {
  margin-right: 1rem;
}

a {
  color: #777;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
}

a:hover {
  opacity: 0.8;
}

.main-container {
  display: flex;
  margin-top: 75px;
}

.main-image {
  height: 30rem;
  width: 30rem;
  grid-column-start: 2;
  border-radius: 2.5%;
  margin-left: 5rem;
}

.vl {
  border-left: 4px solid #777;
  height: 100px;
  margin-left: 75px;
  opacity: 0.2;
}

/* responsive styling */
@media only screen and (max-width: 600px) {
  .nav-menu {
    display: block;
    margin-right: 2rem;
    margin-left: 1rem;
  }

  .nav-links {
    display: none; /* Hide the links by default */
  }
  
  .nav-links.open {
    display: block; /* Display the links when the "open" class is present */
  }

  .nav-li {
    margin-top: 0.5rem;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .main-image {
    margin-left: 0;
  }
}